h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  color: #AA3939;
}

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  opacity: .6;
}

.navbar-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

#header {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(../images/coffee-beans.jpg);
}

.header {
  margin-top: 200px;
  text-align: center;
}

.howitworks img {
  height: 300px;
  width: 300px;
}

.howitworks {
  margin-bottom: 20px;
}

#howitworks {
  text-align: center;
  background-color: #AA6C39;
}

#howitworks h2, 
h2, 
small {
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

#howitworksrow {
  margin-bottom: 10px;
}

#collapse {
  padding-right: 20px;
  padding-top: 20px;
}

.menu-button {
  float: right;
  height: 40px;
  width: 80px;
}

#footer {
  float: right;
  padding-top: 15px;
}

#form {
  margin-bottom: 10px;
}

#quantity-data {
  margin-left: 20px;
}

#name-label {
  padding-right: 10px;
}

#address {
  margin-left: 10px;
}

#user-name {
  margin-left: 27px;
}

#city {
  margin-left: 42px;
  margin-right: 9px;
}

#state, 
#zip {
  margin-right: 10px;
  margin-left: 10px;
}

#fieldset, 
p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#order-header {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

#visa, 
#mastercard, 
#money {
  padding: 10px;
}

#dark-roast-new, 
#blonde-roast-new, 
#medium-roast-new, 
#decaf-coffee-new, 
#iced-coffee-new, 
#americano-new, 
#iced-tea-new, 
#lemonade-new {
  height: 491px;
  width: 598px;
  font-size: 24px;
  text-align: center;
}

#footer ul li {
  display: inline-block;
  padding: 10px;
  float: right;
  font-family: 'Raleway', sans-serif;
}

#location {
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

#footer-color {
  background-color: #AA3939;
}

.form-control {
  display: inline-block;
}

#delivery-button {
  margin-top: 20px;
  border: #882D60;
  background-color: #882D60;
}

#delivery-button:hover {
  background-color: #661141;
}

.order-button {
  background-color: #882D60;
  border: #882D60;
  color: white;
}

.order-button:hover {
  background-color: #661141;
  color: white;
}

#menu-nav {
  margin-top: 5px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #000;
  border: 1px solid #AA3939;
}

.thumbnail {
  margin-top: 20px;
}

.thumbnail img {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

#menu-nav:hover {
  background-color: #AA3939;
}

.menu-button:hover {
  background-color: #AA3939;
}

@media (max-width: 551px) {
  #menu-nav {
    margin-left: 10px;
  }
  #user-name {
    width: 60%;
  }
  #address {
    width: 58.5%;
  }
  #city {
    width: 204.5px;
  }
   #state {
    margin-left: 31px;
  }
  #zip {
    width: 85px;
  }
}

