h1 {
  font-family: 'Raleway', sans-serif;
  color: #AA3939;
  font-size: 48px;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;

}
.opacity {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: .6;
  background-color: black;
}
.navbar-header {
  margin-top: 10px;
  margin-bottom: 10px;
}
#header {
  position: relative;
  background-image: url(../images/coffee-beans.jpg);
  width: 100%;
  height: 500px;
}
.header {
  text-align: center;
  margin-top: 200px;
}
.howitworks img {
  height: 300px;
  width: 300px;
}
#howitworks {
  text-align: center;
  background-color: #AA6C39;
}
#howitworks h2, h2, small {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}
#howitworksrow {
  margin-bottom: 10px;
}
#collapse {
  padding-right: 20px;
  padding-top: 20px;
}
.menu-button {
  float: right;
  height: 40px;
  width: 80px;
}
#footer {
  float: right;
}
#form {
  margin-bottom: 10px;
}
#quantity-data {
  margin-left: 20px;
}
#name-label {
  padding-right: 10px;
}
#address {
  margin-left: 10px;
}
#user-name {
  margin-left: 27px;
}
#city {
  margin-left: 42px;
  margin-right: 9px;
}
#state, #zip {
  margin-right: 10px;
  margin-left: 10px;
}
#fieldset, p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
#order-header {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
#visa, #mastercard, #money {
  padding: 10px;
}
#dark-roast-new, #blonde-roast-new, #medium-roast-new, #decaf-coffee-new, 
#iced-coffee-new, #americano-new, #iced-tea-new, #lemonade-new {
  height: 491px;
  width: 598px;
  font-size: 24px;
  text-align: center;
}
#footer ul li {
  display: inline-block;
  padding: 10px;
  float: right;
  font-family: 'Raleway', sans-serif;
}
#location {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}
#footer-color {
  background-color: #AA3939;
}
.form-control {
  display: inline-block;
}
#name-label, #address-label, #city-label {
  
}
